# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.venv/

# Ignore PyCharm project files
.idea/

# Ignore logs and databases
*.log
*.sqlite3
